@import "@fontsource/montserrat/variable.css";
@import "@fontsource/montserrat/variable-italic.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes ping {
    75%, 100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  .mask-edges {
    -webkit-mask-image: repeating-linear-gradient(to left, transparent, black 5%, black 95%, transparent);
    mask-image: repeating-linear-gradient(to left, transparent, black 5%, black 95%, transparent);
  }
  .mask-none {
    -webkit-mask-image: none;
    mask-image: none;
  }
  .dropcontent {
    @apply transition-opacity invisible opacity-0 absolute z-20;
  }
  .dropdown:hover .dropcontent {
    @apply visible opacity-100;
  }
  .dropdown:hover .droproot > * {
    @apply bg-slate-800;
  }
}